@page
@using System.Diagnostics
@model IndexModel
@{
    ViewData["Title"] = "OS Processes";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]!</h1>
        @foreach (var item in Model.Processes!)
        {
            @if (item.ProcessName.Trim().Length > 0)
            {
                <p><a asp-page="./Details" asp-route-id="@item.Id">@item.ProcessName</a></p>
            }
        }
        <h2>Total</h2>
        <p>Number of proccesses: @processes.Length</p>
        <p>Total ram used: @totalRam GB</p>
        <p>Total CPU used: @totalCPU hours</p>
</div>